<!DOCTYPE html>
<html>

<head>
    <title>
        About this app
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div>
        <h1>
            About
        </h1>
        <ul>
            <li>
                <h3>Description</h3>
                <p>This is an demo Express App that interact with MongoDB. </p>
                <p>
                    The math problem generator is a tool for students to practice more about math. Students can state what 
                    topic of math they are confused about and how many problems they wish to have for practicee. Then the web
                    will generate ramdom problems for student.
                </p>
            </li>
        </ul>
    </div>
</body>

</html>