<h1>Math Problem Generator</h1>
<h5>Author: Xu (Charles) Cai</h5>
<form method="post" action="problemGenerator">
  Enter how many math problems you want and what is the specific topic you wish
  to get more practices. Please be as specific as possible.
  <br />
  <textarea name="length" cols="50" rows="10"></textarea>
  <br />
  <p><input type="submit" value="generate" /></p>
</form>
