<h1>Math Problem Generator</h1>

<hr>
Here is the problems you want based on your selected:
<pre style="border:thin solid black"><%= answer %></pre>
<hr>
<div>
    <a class="navButton" href="/problemGenerator">Generate Another one</a>
</div>
<br>
<div>
    <a class="navButton" href="/">Back To Home</a>
</div>